
  <div class="mainpanel">
    <div class="mainpanel">
      <button mat-raised-button color="primary">Add User</button>
    </div>
    <div class="mainpanel">
      <table mat-table [dataSource]="citizenlist" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="CitizenID">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.citizenID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="AMKA">
          <th mat-header-cell *matHeaderCellDef> AMKA </th>
          <td mat-cell *matCellDef="let element"> {{element.amka}} </td>
        </ng-container>
        <ng-container matColumnDef="AFM">
          <th mat-header-cell *matHeaderCellDef> AFM </th>
          <td mat-cell *matCellDef="let element"> {{element.afm}} </td>
        </ng-container>
        <ng-container matColumnDef="Onoma">
          <th mat-header-cell *matHeaderCellDef> Onoma </th>
          <td mat-cell *matCellDef="let element"> {{element.onoma}} </td>
        </ng-container>
        <ng-container matColumnDef="Eponimo">
          <th mat-header-cell *matHeaderCellDef> Eponimo </th>
          <td mat-cell *matCellDef="let element"> {{element.eponimo}} </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a (click)="openDialog('Update',element)">Edit</a> |
            <a (click)="openDialog('Delete',element)">Delete</a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
